
/*Conteiner's*/
.container{
    width: 96%;
}

/*Cabeçalho*/
header h1{
    text-align: center;
}
header h1 img{
    max-width: 50%;
}
.sacola{
    display: none;
}
.menu-opcoes{
    position: static;
    text-align: center;
}
.menu-opcoes ul li {
    display: inline-block;
    margin: 5px;
}
/*Busca*/
.busca,.menu-departamentos,.destaque img {
    margin-right: 0;
    width: 100%;
}

/*Paineis*/
.painel{
    width: auto;
}
.painel li{
    width: 30%;
}
.painel img{
    width: 100%;
}